@{
    ViewBag.Title = "Home Page";
}
@{ var message =	"Hello World"; }

@{
    var greeting = "Welcome to web II site";
    var weekDay = DateTime.Now.DayOfWeek;
    var greetingMessage = greeting + " Here in Costa Rica it is: " + weekDay;
}

<div class="jumbotron">
    <h1>Universidad Tecnica Nacional</h1>
    <p class="lead">@message</p>
    <p>The greeting is: @greetingMessage</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Datetime Today</h2>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Day</td>
                <td>@DateTime.Now.Day</td>
            </tr>
            <tr>
                <td>Hour</td>
                <td>@DateTime.Now.Hour</td>
            </tr>
            <tr>
                <td>Minute</td>
                <td>@DateTime.Now.Minute</td>
            </tr>
            <tr>
                <td>Second</td>
                <td>@DateTime.Now.Second</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Greeting</h2>
        @{
            var txt = "";
            if (DateTime.Now.Hour > 12)
            {
                txt = "Good Evening";
            }
            else
            {
                txt = "Good Morning";
            }
        }
        <p>The message is @txt</p>
    </div>
    <div class="col-md-4">
     <h2>Motivation</h2>
        @{
            string[] words = { "Do it", "Raise the bar", "go head", "let's do it", "We Can", "Awesome" };
        }

        @foreach (var item in words)
        {
            <p class="text-success">@item</p>
        }
    </div>
</div>