
@model IEnumerable<DataShopAdvisor.Modelos.Place>

<div class="gradient">
    @foreach (var item in Model)
    {

        <div class="wrap">
            <div class="card">
                <a href="@Url.Action("Details", "Places",new {id=item.id })">
                    <div class="price">@item.id<span class="glyphicon glyphicon-eur" aria-hidden="true"></span>  / Identificador</div>
                    <div class="image"><img src="@item.image_path" /> </div>
                    <div class="description">
                        <div class="row">
                            <div class="col-sm-3"><h4>@Html.DisplayFor(modelItem => item.name)</h4></div>
                            <div class="col-sm-9">
                                <ul>
                                    <li><span class="glyphicon glyphicon-user" aria-hidden="true"><p>@Html.DisplayFor(modelItem => item.latitud)</p></li>
                                    <li><span class="glyphicon glyphicon-signal" aria-hidden="true"><p>@Html.DisplayFor(modelItem => item.longitud)</p></li>
                                    <li>
                                        <a href="@Url.Action("Delete", "Place",new {id=item.id })">
                                            <span class="glyphicon glyphicon-erase" aria-hidden="true"><p>Eliminar</p></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>




        @*<div class="gradient">
                <div class="wrap">
                    <div class="card">
                        <a href="http://tornadostudio.si/vila">
                            <div class="price">60<span class="glyphicon glyphicon-eur" aria-hidden="true"></span>  / day</div>
                            <div class="image"></div>
                            <div class="description">
                                <div class="row">
                                    <div class="col-sm-3"><h4>Vila Golf</h4></div>
                                    <div class="col-sm-9">
                                        <ul>
                                            <li><span class="glyphicon glyphicon-user" aria-hidden="true"><p>3 persons</p></li>
                                            <li><span class="glyphicon glyphicon-signal" aria-hidden="true"><p>Free WI-FI</p></li>
                                            <li><span class="glyphicon glyphicon-cutlery" aria-hidden="true"><p>Kitchen</p></li>
                                            <li><span class="glyphicon glyphicon-tint" aria-hidden="true"><p>Bathroom</p></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>*@
    }
</div>