@model EntidadesShopAdvisor.PlaceComments
@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Lugar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Place.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.longitud)
        </dd>

        <dt>
            Imagen
        </dt>

        <dd>
            <img src="@Model.Place.image_path" />
        </dd>
    </dl>
</div>

@using (Ajax.BeginForm("CreateCommentPlace", "Places", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "contenido",
    OnSuccess = "Clean",
    AllowCache = false
}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Nuevo comentario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.Hidden("place",Model.Place.id)
                @Html.Editor("comment", new { id = "comment", htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div id="contenido">
    <table class="table">
        <tr>
            <th>
                Comentarios
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.comment)
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "DeleteCommentPlace", "Places", new
               {
                   place= Model.Place.id,
                   comment = item.id,
               },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contenido",
                        AllowCache = false
                    })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Place.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>




@section Scripts
{
    <script type="text/javascript">
        function Clean() {
            $('#comment').val("");
        }
    </script>

@*<script>


        $(document).ready(function () {
            $('#enviar').on('click', function(evt) {
                evt.preventDefault();
                evt.stopPropagation();

                $.get( '@Url.Action("CommentPlace", "Places", new { id = Model.Place.id } )', function(data) {
                    $('#contenido').html("");
                    $('#contenido').html(data);
                });
            });

        });

    </script>*@
}